@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramamakrishna');
header {
  position: relative;
  background-color: black;
  height: 97vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}
.center {
  height:100%;
  position: relative;

}
.center h1{
  font-size: 80px;
}
.center p{
  font-size: 30px;
  margin-top: -30px !important;
}
.center p,h1 {
  text-align: center;
  margin: 0;
  position: relative;
  top: 50%;  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}
